.main {
    display: flex;
    height: 759px;
    margin-top: 144px;
    .center {
        display: flex;
        width: 1280px;
        margin: 0 auto;
        color: black;
        flex-direction: column;
        &_up {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 250px;
            &_left {
                div {
                    margin-top: 13px;
                    width: 418px;
                    font-size: 60px;
                    line-height: 63.6px;
                }
            }
            &_right {
                div {
                    font-size: 22px;
                    line-height: 34.1px;
                    width: 406px;
                    margin-top: 70px;
                }
            }
        }
        &_buttom {
            margin-top: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &_row {
                width: 330px;
                &_imgs {
                    width: 281px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    align-items: center;
                }
                &_textm {
                    font-size: 24px;
                    line-height: 29.8px;
                    margin-top: 32px;
                }
                &_texts {
                    font-size: 12px;
                    line-height: 27.9px;
                    margin-top: 11px;
                }
                &_textsun {
                    margin-top: 11px;
                    font-size: 18px;
                    line-height: 27.9px;
                }
            }
        }
    }
}
